<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie" lang="en-US">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<%- include('partials/header.ejs') %>

<body class="single single-post postid-193 single-format-standard">

	<div id="page" class="hfeed site">
		<header id="masthead" class="site-header" role="banner">
			<div class="container">

				<div id="logo" class="site-logo text-center">
									<a href="../../../../index.html" rel="home"><img src="/assets/img/logo.png" alt="Simartar" /></a>
								</div><!-- #logo -->
			
				<div id="navbar" class="navbar-wrapper text-center">
					<nav class="navbar navbar-default site-navigation" role="navigation">
						<ul id="menu-menu-1" class="nav navbar-nav navbar-menu"><li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-16"><a href="../../../../index.html">Home</a></li>
<li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-194"><a href="../../../../articles/index.html">Articles</a></li>
<li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a href="../../../../news/index.html">News</a></li>
<li id="menu-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173"><a href="#">Pages</a>
<ul class="dropdown-menu">
	<li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="../../../../faq/index.html">FAQ</a></li>
	<li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-192"><a href="../../../../shortcodes/index.html">Shortcodes</a></li>
	<li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><a href="../../../../contact-us/index.html">Contact Us</a></li>
	<li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a href="../../../../404.html">404</a></li>
</ul>
</li>
</ul>						
<ul class="nav navbar-nav navbar-login">
	<li><a href="#" class="collapsed" data-toggle="collapse" data-target="#login-form">Login <i class="sub-indicator fa fa-chevron-circle-down fa-fw text-muted"></i></a></li>
</ul><!-- .navbar-login -->

<div id="login-form" class="login-form collapse fade clearfix">
	<form name="loginform" id="loginform" action="http://wp.toserblog.net/nowknow-140/wp-login.php" method="post">
		<div class="form-group">
			<input type="text" name="log" class="form-control" title="Username" placeholder="Username" size="20" />
		</div>
		<div class="form-group">
			<input type="password" name="pwd" class="form-control" title="Password" placeholder="Password" value="" size="20" />
		</div>
		<div class="checkbox text-left">
			<label><input name="rememberme" type="checkbox" value="forever" /> Remember Me</label>
		</div>
		<ul class="list-unstyled pull-left">
			<li><a href="http://wp.toserblog.net/wp-login.php?action=lostpassword">Lost Password</a></li>
					</ul>
		<input type="hidden" name="redirect_to" value="http://wp.toserblog.net/nowknow-140/2014/07/23/hello-world-3/" />
		<button type="submit" name="wp-submit" class="btn btn-custom pull-right">Login</button>
	</form>
</div><!-- #login-form -->					</nav><!-- #site-navigation -->
				</div><!-- #navbar -->

				<div id="header-search" class="site-search clearfix">
					<form action="http://wp.toserblog.net/nowknow-140/" method="get" class="search-form" role="search">
	<div class="form-border">

		<div class="form-inline">
			<div class="form-group">
				<input type="text" name="s" class="search-field form-control input-lg" title="Enter search term" placeholder="Have a question? Type your search term here..." value="" />
			</div>
			<input type="hidden" value="post" name="post_type" />
			<button type="submit" class="search-submit btn btn-custom btn-lg pull-right">Search</button>
		</div>

		<div class="search-advance">
			<div class="row">

				<div class="col-sm-6">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="search-category" class="col-sm-3 control-label">Category</label>
							<div class="col-sm-9">
								<select name='cat' id='search-category' class='form-control' >
	<option value='0' selected='selected'>All Categories</option>
	<option class="level-0" value="1">Uncategorized</option>
	<option class="level-0" value="2">Account Settings</option>
	<option class="level-0" value="3">API Questions</option>
	<option class="level-0" value="4">Customization</option>
	<option class="level-0" value="5">Mobile Apps</option>
	<option class="level-0" value="6">Other</option>
</select>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="search-format" class="col-sm-3 control-label">Format</label>
							<div class="col-sm-9">
								<select name='post_format' id='search-format' class='form-control'>
	<option value='0'>All Formats</option>
	<option value='standard'>Standard</option>
	<option value='image'>Image</option>
	<option value='video'>Video</option>
</select>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div><!-- .search-advance -->

		<a href="#" class="search-advance-button text-center"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
	</div>
</form>				</div><!-- #header-search -->
			</div>
		</header><!-- #masthead -->

		
	<div class="site-hero clearfix">
		<div class="container">
			<ol class="breadcrumb breadcrumb-custom">
	<li class="text">You are here: </li>
	<li><a href="../../../../index.html">Home</a></li>
	<li><a href="../../../../category/uncategorized/index.html">Uncategorized</a></li>
	<li class="active">Hello world!</li>
</ol><!-- .breadcrumb -->
		</div>
	</div><!-- .site-hero -->

		
		<div id="main" class="site-main clearfix">
			<div class="container">
	
				<div class="content-area">
					<div class="row">
	<div id="content" class="site-content col-md-9">

			<article id="post-193" class="post-193 post type-post status-publish format-standard hentry category-uncategorized">
			<header class="entry-header">
				<h1 class="entry-title"><%=article.title%></h1>

				<div class="entry-meta text-muted">
					<span class="date"><i class='fa fa-list-alt text-muted'></i> <time datetime="<%=article.create_date %>"><%=article.create_date %></time></span>
					<span class="category"><i class="fa fa-folder-open-o fa-fw"></i> <a href="/category/<%=article.category_id %>" rel="category tag"><%=article.category_name %></a></span>
				</div><!-- .entry-meta -->
			</header><!-- .entry-header -->
								
			<div class="entry-content clearfix">
				<%=article.content %>
			</div><!-- .entry-content -->
									
			<footer class="entry-footer">
				<div class="entry-attribute clearfix">
					<div class="row">
						<div class="rate-post col-sm-6">
	<ul class="list-inline pull-left">
		<li><a href="#" class="btn btn-social btn-like disabled" title="This article was helpful" data-toggle="tooltip" data-id="193" data-rate="like"><i class="fa fa-thumbs-o-up fa-fw"></i></a></li>
		<li><a href="#" class="btn btn-social btn-dislike disabled" title="This article was not helpful" data-toggle="tooltip" data-id="193" data-rate="dislike"><i class="fa fa-thumbs-o-down fa-fw"></i></a></li>
	</ul>
	<span id="rate-193-results">	<strong>0 <small class="text-muted">votes</small></strong>
	<ul class="list-inline rate-average text-warning pull-left">
		<li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li><li><i class="fa fa-star-o"></i></li>	</ul>
</span>
</div><!-- .rate-post -->
						<div class="share-links text-right col-sm-6">
	<strong class="text-muted">Share it</strong>
	<ul class="list-inline pull-right">
		<li><a href="http://facebook.com/sharer.php?u=http%3A%2F%2Fwp.toserblog.net%2Fnowknow-140%2F2014%2F07%2F23%2Fhello-world-3%2F&amp;t=Hello+world%21" target="_blank" class="btn btn-social btn-facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
		<li><a href="http://twitter.com/intent/tweet?text=Hello+world%21+-+http%3A%2F%2Fwp.toserblog.net%2Fnowknow-140%2F2014%2F07%2F23%2Fhello-world-3%2F" target="_blank" class="btn btn-social btn-twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
		<li><a href="http://plus.google.com/share?url=http%3A%2F%2Fwp.toserblog.net%2Fnowknow-140%2F2014%2F07%2F23%2Fhello-world-3%2F" target="_blank" class="btn btn-social btn-google-plus"><i class="fa fa-google-plus fa-fw"></i></a></li>
	</ul>
</div><!-- .share-links -->
					</div>
				</div><!-- .entry-attribute -->
			</footer><!-- .entry-footer -->
		</article><!-- #post-193 -->
		
		<div id="comments" class="comments-area">

			<h2 class="comments-title section-title h3">One reply on &ldquo;Hello world!&rdquo;</h2>

		<ol class="comment-list">		<li id="comment-39" class="comment even thread-even depth-1">
			<article id="div-comment-39" class="comment-body">
				<footer class="comment-meta">
					<div class="comment-author vcard">
						<img alt='' src='http://0.gravatar.com/avatar/?s=50&amp;d=mm&amp;r=g' srcset='http://0.gravatar.com/avatar/?s=100&amp;d=mm&amp;r=g 2x' class='avatar avatar-50 photo avatar-default' height='50' width='50' />						<b class="fn">Anonymous</b> <span class="says">says:</span>					</div><!-- .comment-author -->

					<div class="comment-metadata">
						<a href="index.html#comment-39">
							<time datetime="2014-07-23T12:24:40+00:00">
								July 23, 2014 at 12:24 pm							</time>
						</a>
											</div><!-- .comment-metadata -->

									</footer><!-- .comment-meta -->

				<div class="comment-content">
									</div><!-- .comment-content -->

				<div class="reply"><a class='comment-reply-link' href='indexbed3.html?replytocom=39#respond' onclick='return addComment.moveForm( "div-comment-39", "39", "respond", "193" )' aria-label='Reply to '>Reply</a></div>			</article><!-- .comment-body -->
</li><!-- #comment-## -->
</ol><!-- .comment-list -->

		<ul class="pager comment-navigation">
			<li></li>
			<li></li>
		</ul><!-- .comment-navigation -->

		
	
							<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3>
									<form action="http://wp.toserblog.net/nowknow-140/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
																			<div class="row">							<div class="col-md-6"><div class="comment-form-author form-group"><label for="author">Name</label> <input id="author" name="author" type="text" class="form-control" value="" size="30" aria-required='true' /></div>
<div class="comment-form-email form-group"><label for="email">Email</label> <input id="email" name="email" type="email" class="form-control" value="" size="30" aria-required='true' /></div>
<div class="comment-form-url form-group"><label for="url">Website</label> <input id="url" name="url" type="url" class="form-control" value="" size="30" /></div></div>
												<div class="col-md-6"><div class="form-group"><label for="comment">Comment</label> <textarea id="comment" name="comment" class="form-control" cols="45" rows="8" aria-required="true"></textarea></div></div>						</div>
						<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='193' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>					</form>
							</div><!-- #respond -->
			</div><!-- #comments -->	
	</div><!-- #content -->

<div id="sidebar" class="site-sidebar col-md-3">
	<div class="widget-area">
		<aside id="text_banner-2" class="section widget widget_text_banner"><div class="banner-wrapper text-center clearfix"><h3 class="banner-title h4">Support Policy</h3>
<div class="banner-content">Praesent neque nibh, vulputate id bibendum et, lacinia vel mi. Ut elementum nisi et congue facilisis. Praesent suscipit nulla eu lorem dictum, a ultricies orci pretium.</div></div></aside><aside id="article_categories-2" class="section widget widget_article_categories"><h3 class="section-title h4 clearfix">Categories</h3><ul class="nav nav-pills nav-stacked nav-categories">	<li class="cat-item cat-item-5"><a href="../../../../category/mobile-apps/index.html" title="Mobile apps playground :)">Mobile Apps <span class="badge pull-right">5</span></a>
</li>
	<li class="cat-item cat-item-3"><a href="../../../../category/api-questions/index.html" title="Knowledge base about API">API Questions <span class="badge pull-right">2</span></a>
</li>
	<li class="cat-item cat-item-1"><a href="../../../../category/uncategorized/index.html" >Uncategorized <span class="badge pull-right">1</span></a>
</li>
	<li class="cat-item cat-item-2"><a href="../../../../category/account-settings/index.html" title="The description about account settings">Account Settings <span class="badge pull-right">1</span></a>
</li>
	<li class="cat-item cat-item-4"><a href="../../../../category/customization/index.html" title="The description about customization application">Customization <span class="badge pull-right">1</span></a>
</li>
	<li class="cat-item cat-item-6"><a href="../../../../category/other/index.html" >Other <span class="badge pull-right">1</span></a>
</li>
</ul></aside><aside id="tag_cloud-2" class="section widget widget_tag_cloud"><h3 class="section-title h4 clearfix">Tags</h3><div class="tagcloud"><a href='../../../../tag/first-post/index.html' class='tag-link-7' title='1 topic' style='font-size: 8pt;'>first post</a>
<a href='../../../../tag/gallery/index.html' class='tag-link-8' title='1 topic' style='font-size: 8pt;'>Gallery</a>
<a href='../../../../tag/hello-world/index.html' class='tag-link-10' title='1 topic' style='font-size: 8pt;'>hello world</a>
<a href='../../../../tag/image/index.html' class='tag-link-11' title='1 topic' style='font-size: 8pt;'>Image</a>
<a href='../../../../tag/lipsum/index.html' class='tag-link-12' title='4 topics' style='font-size: 22pt;'>Lipsum</a>
<a href='../../../../tag/pages/index.html' class='tag-link-13' title='2 topics' style='font-size: 14.3pt;'>Pages</a>
<a href='../../../../tag/video/index.html' class='tag-link-16' title='1 topic' style='font-size: 8pt;'>Video</a></div>
</aside>	</div>
</div><!-- #sidebar -->					</div>
				</div><!-- .content-area -->
	
			</div>
		</div><!-- #main -->
		
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="container">

				
<div class="twitterbar">
	<div id="tweets-list" class="tweets-border">
		<ul class="tweets list-unstyled carousel-inner pull-left">
					<li class="item active">
				<span>RT <a href="http://twitter.com/ikohandriyat" target="_blank">@ikohandriyat</a>: Tak enteni sam <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a>: SEGERA! Akan hadir televisi online tentang Arema dan Aremania.</span>
				<small class="meta"><a href="https://twitter.com/arema_tv/statuses/344031863003807745" class="text-muted">about 2 years ago</a></small>
			</li>
					<li class="item">
				<span>RT <a href="http://twitter.com/suliono28" target="_blank">@suliono28</a>: Mantap! "<a href="http://twitter.com/AremaNewsUpdate" target="_blank">@AremaNewsUpdate</a>: Waini...!! Ayas tunggu :-) =&gt; <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a>: SEGERA! Akan hadir televisi online tentang Arema dan Are…</span>
				<small class="meta"><a href="https://twitter.com/arema_tv/statuses/344031829059321856" class="text-muted">about 2 years ago</a></small>
			</li>
					<li class="item">
				<span>RT <a href="http://twitter.com/FavianAremania" target="_blank">@FavianAremania</a>: Ayo nawak" Aremania/nita follow =» <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a> RT <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a>: SEGERA! Akan hadir televisi online tentang Arema dan Aremani…</span>
				<small class="meta"><a href="https://twitter.com/arema_tv/statuses/344031803935436801" class="text-muted">about 2 years ago</a></small>
			</li>
					<li class="item">
				<span>RT <a href="http://twitter.com/AremaNewsUpdate" target="_blank">@AremaNewsUpdate</a>: Waini...!! Ayas tunggu :-) =&gt; <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a>: SEGERA! Akan hadir televisi online tentang Arema dan Aremania."</span>
				<small class="meta"><a href="https://twitter.com/arema_tv/statuses/344031790186512384" class="text-muted">about 2 years ago</a></small>
			</li>
					<li class="item">
				<span>Nuwus sam. "<a href="http://twitter.com/vbriant_odw" target="_blank">@vbriant_odw</a> <a href="http://twitter.com/Arema_TV" target="_blank">@Arema_TV</a> aku Folower pertamax ."</span>
				<small class="meta"><a href="https://twitter.com/arema_tv/statuses/344003650567409664" class="text-muted">about 2 years ago</a></small>
			</li>
				</ul><!-- .tweets -->
		<a href="http://twitter.com/arema_tv" target="_blank" class="follow-button btn btn-custom btn-lg pull-right">Follow</a>
	</div><!-- #tweets-list -->
	<div class="tweets-icon pull-left text-right">
		<i class="fa fa-twitter fa-2x text-primary"></i>
	</div><!-- .tweets-icon -->
		<ul class="tweets-control list-inline pull-right">
		<li><a href="#tweets-list" class="btn btn-social" data-slide="prev"><i class="fa fa-arrow-left fa-fw"></i></a></li>
		<li><a href="#tweets-list" class="btn btn-social" data-slide="next"><i class="fa fa-arrow-right fa-fw"></i></a></li>
	</ul><!-- .tweets-control -->
	</div><!-- .twitterbar -->


				<div class="row">
					<div class="col-md-4">
												<div class="widget-area">
							<aside id="text-2" class="section widget widget_text"><h3 class="section-title h4 clearfix">About NowKnow</h3>			<div class="textwidget"><p>Vestibulum id velit cursus tortor tincidunt semper. Duis tempor, est eu pretium condimentum, mauris nunc tempus purus, eu dictum mi nibh sed arcu.</p>
<p>Vivamus sagittis vestibulum nisl, eu pellentesque nibh. Duis tincidunt congue sapien id adipiscing. Phasellus varius, magna a cursus aliquet, lectus felis sodales orci, a bibendum orci ipsum id libero.</p>
</div>
		</aside>						</div>
											</div>

					<div class="col-md-4">
												<div class="widget-area">
							<aside id="news_recent-2" class="section widget widget_latest_news"><h3 class="section-title h4 clearfix">Recent News</h3><ul class="media-list"><li class="media">
										<a href="../../../../news/aliquam-rhoncus-quis-mi-nec-sodales-2/index.html" class="pull-left"><img width="50" height="50" src="../../../../wp-content/uploads/sites/5/2013/11/file5961255592727-50x50.jpg" class="media-object" alt="Aliquam Rhoncus Quis Mi Nec Sodales" title="" /></a>
										<div class="media-body">	
						<h4 class="media-heading h5"><a href="../../../../news/aliquam-rhoncus-quis-mi-nec-sodales-2/index.html">Aliquam Rhoncus Quis Mi Nec Sodales</a></h4>
						<small class="text-muted">
							<i class="fa fa-calendar-o fa-fw"></i>
							<time datetime="2013-11-06T08:07:26+00:00">November 6, 2013</time>
						</small>
					</div>
				</li><li class="media">
										<a href="../../../../news/aliquam-rhoncus-quis-mi-nec-sodales/index.html" class="pull-left"><img width="50" height="50" src="../../../../wp-content/uploads/sites/5/2013/10/DSC_4647_Iv%c3%a1n_Melench%c3%b3n_Serrano_MorgueFile-50x50.jpg" class="media-object" alt="Proin Quis Fermentum Massa" title="" /></a>
										<div class="media-body">	
						<h4 class="media-heading h5"><a href="../../../../news/aliquam-rhoncus-quis-mi-nec-sodales/index.html">Proin Quis Fermentum Massa</a></h4>
						<small class="text-muted">
							<i class="fa fa-calendar-o fa-fw"></i>
							<time datetime="2013-10-29T04:54:41+00:00">October 29, 2013</time>
						</small>
					</div>
				</li><li class="media">
										<a href="../../../../news/add-nda/index.html" class="pull-left"><img width="50" height="50" src="../../../../wp-content/uploads/sites/5/2013/10/unageekcolor-50x50.jpg" class="media-object" alt="Ut Elementum Nisi Et Congue Facilisis" title="" /></a>
										<div class="media-body">	
						<h4 class="media-heading h5"><a href="../../../../news/add-nda/index.html">Ut Elementum Nisi Et Congue Facilisis</a></h4>
						<small class="text-muted">
							<i class="fa fa-calendar-o fa-fw"></i>
							<time datetime="2013-10-25T05:27:25+00:00">October 25, 2013</time>
						</small>
					</div>
				</li></ul></aside>						</div>
											</div>

					<div class="col-md-4">
												<div class="widget-area">
							<aside id="fb_likebox-2" class="section widget widget_fb_likebox"><div class="fb-like-box" data-href="http://www.facebook.com/kotakboneka" data-width="300" data-show-faces="true" data-stream="false" data-border-color="#eeeeee" data-header="false"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "../../../../../../connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script></aside>						</div>
											</div>

					<div class="clearfix"></div>
					<hr />
				</div>

				<div class="row">
					<div class="site-info col-md-6">
						<p class="text-muted">Copyright © 2015 <a href="../../../../index.html">NowKnow</a>. All rights reserved.</p>
					</div><!-- .site-info -->

					<div class="site-social text-right col-md-6">
						<ul class='list-inline hidden-print'>
	<li><a href='#' class='btn btn-social btn-facebook'><i class='fa fa-facebook fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-twitter'><i class='fa fa-twitter fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-google-plus'><i class='fa fa-google-plus fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-linkedin'><i class='fa fa-linkedin fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-youtube'><i class='fa fa-youtube-play fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-pinterest'><i class='fa fa-pinterest fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-dribbble'><i class='fa fa-dribbble fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-flickr'><i class='fa fa-flickr fa-fw'></i></a></li>
	<li><a href='#' class='btn btn-social btn-instagram'><i class='fa fa-instagram fa-fw'></i></a></li>
	<li><a href='../../../../feed/index.html' class='btn btn-social btn-rss'><i class='fa fa-rss fa-fw'></i></a></li>
</ul>
					</div><!-- .site-social -->
				</div>

			</div>
		</footer><!-- #colophon -->
			
	</div><!-- #page -->

<%- include('partials/footer.ejs') -%>

</body>

<!-- Mirrored from wp.toserblog.net/nowknow-140/2014/07/23/hello-world-3/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jun 2015 05:05:33 GMT -->
</html>